.modal {
  visibility: hidden;
  position:fixed;
  background-color: rgba(0,0,0,.5);
  top: 0;
  right:0;
  bottom: 0;
  left: 0;
  display:flex;
  justify-content: center;
  align-items: center;
  opacity:0;
  transition:visibility 0s linear 0.3s, opacity 0.3s ease;
}

.modal_preview {
  padding:0 16px;
}

.modal_is-opened {
  visibility: visible;
  opacity:1;
  transition: visibility 0s, opacity 0.3s ease;
}

.modal__container {
  position:relative;
  background-color: rgba(255,255,255,1);
  max-width: 630px;
  width: 100%;
  border-radius: 8px;
  padding: 32px 50px;
  display: flex;
  flex-direction: column;
  margin:0 10px;
}

.modal__close-btn {
  position:absolute;
  width:40px;
  height:40px;
  padding:0;
  border:none;
  background:transparent;
  top:32px;
  right:50px;
  opacity:40%;
}

.modal__close-btn_preview {
  top:0;
  right: -52.5px;
  width:40px;
  height: 40px;
  opacity: 1;
}

.modal__exit-btn:hover {
  opacity: 40%;
}

.modal__close-btn:hover {
  cursor: pointer;
  color:rgb(33,33,33);
  opacity:1;
}

.modal__title {
  font-weight: 500;
  font-size: 32px;
  color:rgba(33,33,33,1);
  margin:0 0 32px;
}

.modal__form {
  display:flex;
  flex-direction: column;
}

.modal__label {
  margin-bottom:32px;
  font-weight:500;
  font-size: 16px;
  line-height: 110%;
  color: rgba(33, 33, 33, 0.7);
}

.modal__input {
  display:block;
  width: 100%;
  border:1px;
  border-style:solid;
  border-color: rgba(33, 33, 33, 0.4);
  border-radius: 8px;
  font-weight: 500;
  font-size: 20px;
  padding: 16px 0 16px 12px;
  margin:8px 0 0;
  box-sizing: border-box;
  line-height: 1;
}

.modal__input::placeholder {
  color:#2121214d;
}

.modal__input:hover {
  border-color: rgba(33,33,33,1);
  cursor: pointer;
}

.modal__submit-btn {
  color: rgba(252, 245, 229, 1);
  background-color: rgba(33, 33, 33, 1);
  border-radius: 8px;
  height: 52px;
  max-width: 156px;
  font-weight:500;
  font-size: 16px;
  border:none;
}

.modal__submit-btn:hover {
  cursor:pointer;
  opacity:0.8;
}

.modal__image-container {
  position: relative;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  width:100%;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}

.modal__caption {
  color: white;
  background-color: #212121;
  border-radius: 8px;
  font-weight: 500;
  font-size:20px;
  line-height: 120%;
  left:0;
  top: calc(100% + 10px);
  position:absolute;
  margin:0;
  padding:4px 8px;
}

@media screen and (max-width:560px) {
  .modal__container {
    padding: 22px 12px 12px;
  }

  .modal__label {
    margin-bottom: 24px;
  }

  .modal__title {
    font-size:20px;
    margin-bottom:34px;
  }

  .modal__caption {
    font-size: 16px;
  }

  .modal__close-btn {
    top:12px;
    right:12px;
  }

  .modal__close-btn_preview {
    top:-48px;
    right:0;
  }

  .modal__input {
    font-size: 16px;
    line-height: 1;
    width:100%;
  }

  .modal__submit-btn {
    max-width:none;
  }

  .modal__image {
    min-width:288px;
    max-width:unset;
  }
}